@media screen and (max-width: 576px) {
    .company-logo {
        font-size: 30%;
        font-weight: 400;
        width: 50%;
    }
  }



/*using a variable*/
$shadow: 1px 1px 10px 0px black;
.tag, #nav-bar, .company-logo, footer, .introduction{
    box-shadow: $shadow;
}
/*nesting*/
#nav-bar {
    padding: 20px 0px 20px 0px;
    width: 100%;
    a {
        margin: 10px 50px 10px 150px;
        text-decoration: none;
        color: gray;
        font-size: 20px;
        font-weight: 600;
        padding: 5px 5px 5px 5px;
        border-radius: 20px;
        width: 100%;
    }
}

/*inheritance*/
%focus {
    padding: 10px 50px 10px 50px;

    border:2px solid indianred;

    transition: 0.5s;
} 


body {
    margin: 0px;
    padding: 0px;
    margin-top: -20px;

}

.tag {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: white;
    background-color: black;
    text-shadow: 1px 1px green;
   
}

.title {
    background-image: url(https://cdn.pixabay.com/photo/2017/03/13/17/26/ecommerce-2140603_960_720.jpg);
    background-size: auto;
    padding: 50px 0px 185px 10px;
    text-align: center;
    max-width: 99%;
    height: auto;
}

.ecom {
    font-size: 100px;
    font-weight: 600;
    color: red;
    text-shadow:4px 4px green;
}

.hub {
    font-size: 80px;
    font-weight: 400;
    color: green;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow:3px 3px red;
}

.company-logo {
    margin: 10px 200px 0px 200px;
    border-radius: 20px;
    border: 2px solid black;
}





#nav-bar a:hover {
    box-shadow: 1px 1px 10px 0px black;
    color: black;
    transition: 0.25s;
}


#content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

#content a img {
    width: 400px;
    height: 200px;
    margin: 20px 20px 20px 25px;

}

footer {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEUAAP+KeNJXAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC);
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: -35px;
    color: white;
}

footer li {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
   
}

ul {
    display: grid;
    grid-template-columns: auto auto auto;
}


.copyright {
    font-size: 25px;
    font-weight: 400;

}

.introduction {
    text-align: center;
    margin: 30px 0px 30px 0px;
    font-size: 50px;
    font-weight: 600;
    color: orange;
}



/*login form changes*/

.login-form {

    background-color: black;
    text-align: center;
    margin-top: 0px;
    border-radius: 0%;
    border-bottom: 10px solid orangered;
    transform: translate3d(-10%, -10%);
    

}



.text {

    color: orange;
    box-shadow: 1px 1px 10px 0px black;
    font-size: 40px;
    background-color: green;
    font-weight: 500;

    text-transform: uppercase;

    padding-top: 20px;

}



.login-form input[type = "email"], .login-form input[type = "password"] {

    margin: 50px 0px 40px 0px;

    background-color: black;

    border: 0px;

    padding: 10px 20px 10px 20px;

    border: 2px solid skyblue;

    border-radius: 20px;

    color: white;

    outline: none;

    text-align: center;

}



.login-form input[type = "email"]:hover, .login-form input[type = "password"]:hover {

    @extend %focus;

}



.login-form input[type = "email"]:focus, .login-form input[type = "password"]:focus {

@extend %focus;

}


#submit {

    background-color: black;

    margin-bottom: 40px;

    border: 0px;

    border: 2px solid green;

    color: whitesmoke;

    width: 100px;

    border-radius: 20px;

    padding: 10px 0px 10px 0px;

    outline: none;

}



#submit:hover {

    color: turquoise;

    background-color: green;

    box-shadow: 1px 1px 10px 0px turquoise;

    border-color: skyblue;

    transition: 0.5s;

    cursor: pointer;

}

.login-pg {
    background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQn7oqFL9-VGWtXh1iTGsnVK_V1O0bBMWo86UYWy76SRDAEbKWQ&usqp=CAU) no-repeat;
    padding: 50px 0px 100px 0px;
    background-size: cover;
    }

/* services styles*/
table {
    border: 2px solid green;
    width: 99%;
    margin: 20px 50px 20px 10px;
}

table tr th, td {
    border: 1px solid green;
}

table, tr, th, td {
    border-collapse: collapse;
    padding: 10px 10px 10px 10px;
}


@media screen and (max-width: 576px) {
    .company-logo {
        font-size: 30%;
        font-weight: 400;
        width: 50%;
    }
  }