{% extends "layout.html" %}

{% block title %}
Book details
{% endblock %}

{% block body %}

<div class="alert alert-success" role="alert">
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>

<h1>Book details</h1>
<ul>
    <li><strong>ISBN:</strong> {{book.isbn}}</li>
    <li><strong>Title:</strong> {{book.title}}</li>
    <li><strong>Author:</strong> {{book.author}}</li>
    <li><strong>Publication year:</strong> {{book.publishyear}}</li>
</ul>
<h2>Book ratings by Goodreads.</h2>
<ul>
    <li><strong>Number of ratings:</strong> {{number_of_ratings}}</li>
    <li><strong>Average rating:</strong> {{av_ratings}}</li>
</ul>

<form class="form-group" action="{{url_for('bookdetails', book_id=book.id)}}" method="post">

    Rate this book: <input type="number" min="1" max="5" name="rating" placeholder="Rate">
    Comments: <input type="text" name="review" placeholder="Comments about this book">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<h2>User ratings and comments</h2>

{% for review in reviews %}
<h4>Review by <strong>{{review.username}}</strong></h4>
<ul>
    <li><strong>{{review.rating}}</strong> stars</li>
    <li><strong>{{review.comments}}</strong></li>
</ul>
{% else %}
<h3>No user reviews for this book! Rate this book for more user-friendly experience.</h3>

{% endfor %}

<a href="{{url_for('logout')}}">Logout</a>

{% endblock %}