{% extends "layout.html" %}

{% block title %}
Book details
{% endblock %}

{% block body %}
<h1>Book details</h1>
<ul>
    <li><strong>ISBN:</strong> {{book.isbn}}</li>
    <li><strong>Title:</strong> {{book.title}}</li>
    <li><strong>Author:</strong> {{book.author}}</li>
    <li><strong>Publication year:</strong> {{book.publishyear}}</li>
</ul>
<h2>Book ratings</h2>
<ul>
    <li><strong>Number of ratings:</strong> {{number_of_ratings}}</li>
    <li><strong>Average rating:</strong> {{av_ratings}}</li>
</ul>
{% endblock %}