{% extends "layout.html" %}

{% block title %}
Home page
{% endblock %}

{% block body %}
<div class="alert alert-success" role="alert">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>


<h1>Boost your life by reading! Get access to millions of books</h1>
<form class="form-group" action="{{url_for('search')}}" method="post">
    <input class="form-control" type="text" name="username" minlength="3" placeholder="Enter username" required>
    <input class="form-control" type="email" name="email" placeholder="Enter Email" required>
    <input class="form-control" type="password" name="password" minlength="8" placeholder="Enter Password" required>
    <button class="btn btn-primary">Join</button>
</form>
<h5>Already a member?<a href="{{url_for('login')}}">Login Here</a></h5>
{% endblock %}